/**
*  All the style of icons
*  created  at: 8/15/2014
**/
[class^="icon-"],
.vmiddle {
  vertical-align: middle;
}
[class*="bw_icons_s-"] {
  display: inline-block;
  vertical-align: middle;
  background: url("/images/bw_icons_small_20x20.png") no-repeat;
  cursor: pointer;
}
[class^="bw_icons_s-"].disable {
  /*disable*/
  cursor: default;
}
.bw_configView_contentWrapper i[class^="bw_icons_s-"] {
  visibility: visible;
}
.bw_icons_s-start,
.bw_icons_s-stop,
.bw_icons_s-pause,
.bw_icons_s-resume,
.bw_icons_s-start_process,
.bw_icons_s-stop_process,
.bw_icons_s-publish,
.bw_icons_s-enable,
.bw_icons_s-disable {
  width: 20px;
  height: 20px;
}
.bw_icons_s-start,
.bw_icons_s-publish,
.bw_icons_s-enable {
  background-position: 0px -260px;
}
.bw_icons_s-start_process {
  background-position: -80px -260px;
}
.bw_icons_s-start.disable {
  background-position: 0px -280px;
}
.bw_icons_s-start_process.disable {
  background-position: -80px -280px;
}
.bw_icons_s-stop,
.bw_icons_s-disable {
  background-position: -20px -260px;
}
.bw_icons_s-stop_process {
  background-position: -100px -260px;
}
.bw_icons_s-stop.disable {
  background-position: -20px -280px;
}
.bw_icons_s-stop_process.disable {
  background-position: -100px -280px;
}
.bw_icons_s-pause {
  background-position: -40px -260px;
}
.bw_icons_s-pause.disable {
  background-position: -40px -280px;
}
.bw_icons_s-resume {
  background-position: -60px -260px;
}
.bw_icons_s-resume.disable {
  background-position: -60px -280px;
}
/*hover*/
.bw_icons_s-start:not(.disable):hover {
  background-position: 0px -300px;
}
.bw_icons_s-publish:not(.disable):hover {
  background-position: 0px -300px;
}
.bw_icons_s-stop:not(.disable):hover {
  background-position: -20px -300px;
}
.bw_icons_s-pause:not(.disable):hover {
  background-position: -40px -300px;
}
.bw_icons_s-resume:not(.disable):hover {
  background-position: -60px -300px;
}
.bw_icons_s-start_process:not(.disable):hover {
  background-position: -80px -300px;
}
.bw_icons_s-stop_process:hover {
  background-position: -100px -300px;
}
/*pressed*/
[class^="bw_icons_s-"]:not(.disable):active {
  border-radius: 3px;
}
.bw_icons_s-start:not(.disable):active {
  background-position: 0px -320px;
}
.bw_icons_s-publish:not(.disable):active {
  background-position: 0px -320px;
}
.bw_icons_s-stop:not(.disable):active {
  background-position: -20px -320px;
}
.bw_icons_s-pause:not(.disable):active {
  background-position: -40px -320px;
}
.bw_icons_s-resume:not(.disable):active {
  background-position: -60px -320px;
}
.bw_icons_s-start_process:not(.disable):active {
  background-position: -80px -320px;
}
.bw_icons_s-stop_process:not(.disable):active {
  background-position: -100px -320px;
}
.bw_icons_s-warning {
  background-position: -320px -498px;
  width: 20px;
  height: 20px;
  float: left;
}
.bw_icons_s-note {
  background-position: -337px -498px;
  width: 20px;
  height: 20px;
  float: left;
}
.bw_icons_s-filter {
  width: 16px;
  height: 18px;
  background-position: -40px -200px;
}
.bw_icons_s-arrow-right {
  width: 10px;
  height: 10px;
  background-position: -240px -380px;
}
.bw_icons_s-arrow-down {
  width: 10px;
  height: 10px;
  background-position: -220px -380px;
}
.bw_icons_s-sort-none {
  width: 8px;
  height: 8px;
  margin-left: 3px;
  display: none;
}
.cell-value:hover + span.bw_icons_s-sort-none {
  width: 8px;
  height: 8px;
  background-position: 0px -160px;
  margin-left: 3px;
  opacity: 0.6;
  display: inline-block;
}
.bw_icons_s-sort-asc {
  width: 8px;
  height: 8px;
  background-position: 0px -160px;
  margin-left: 3px;
}
.bw_icons_s-sort-desc {
  width: 8px;
  height: 8px;
  background-position: -160px -160px;
  margin-left: 3px;
}
.bw_icons_s-chevron-up {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -6px;
  width: 13px;
  height: 13px;
  background-position: -320px -177px;
}
.bw_icons_s-chevron-up:hover {
  background-position: -340px -177px;
}
.bw_icons_s-chevron-down {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -6px;
  width: 13px;
  height: 13px;
  background-position: -320px -156px;
}
.bw_icons_s-chevron-down:hover {
  background-position: -340px -156px;
}
.bw_icons_s-chevron-disabled {
  opacity: 0.3;
}
.bw_icons_s-chevron-detail-hide {
  display: none;
}
.bw_icons_s-chevron-right {
  background-position: -60px -180px;
}
.bw_icons_s-chevron-down-tab {
  background-position: -100px -180px;
}
.bw_icons_s-chevron-bookmark1 {
  width: 16px;
  height: 16px;
  background-position: -80px -41px;
}
.bw_icons_s-back {
  width: 14px;
  height: 14px;
  background-position: -321px -600px;
}
.bw_icons_s-back:hover {
  background-position: -340px -600px;
}
.bw_icons_s-default {
  margin-top: 2px;
  background-position: -340px -260px;
}
.bw_icons_s-default:hover {
  background-position: -360px -260px;
}
.bw_icons_s-graph {
  background-position: -340px -240px;
}
.bw_icons_s-graph:hover {
  background-position: -360px -240px;
}
.bw_icons_s-history {
  background-position: -316px -39px;
}
.bw_icons_s-history:hover {
  background-position: -336px -39px;
}
.bw_icons_s-config {
  background-position: -340px -220px;
}
.bw_icons_s-config:hover {
  background-position: -360px -220px;
}
.app_header_switchbar .active .bw_icons_s-default,
.app_subtab_switchbar .active .bw_icons_s-default {
  background-position: -320px -260px;
}
.app_header_switchbar .active .bw_icons_s-graph,
.app_subtab_switchbar .active .bw_icons_s-graph {
  background-position: -320px -240px;
}
.app_header_switchbar .active .bw_icons_s-history,
.app_subtab_switchbar .active .bw_icons_s-history {
  background-position: -336px -39px;
}
.app_header_switchbar .active .bw_icons_s-config,
.app_subtab_switchbar .active .bw_icons_s-config {
  background-position: -320px -220px;
}
.bw_icons_s-config-success {
  background-position: -376px -498px;
  height: 20px;
  width: 20px;
  margin-left: 6px;
}
.bw_icons_s-config-profile {
  background-position: -376px -157px;
  height: 20px;
  width: 20px;
  margin-left: 6px;
}
.bw_icons_s-config-profile.is_loading {
  background: url("/images/spinner_grey.gif") no-repeat;
  pointer-events: none;
  cursor: default;
}
.bw_icons_s-config-profile:hover {
  background-position: -396px -157px;
}
.bw_icon_crud_wrapper-update .is_loading,
.bw_icons_crudDefault_wrapper .is_loading {
  height: 31px;
  width: 20px;
  margin-left: 6px;
  background: url("/images/spinner_grey.gif") no-repeat;
  pointer-events: none;
  cursor: default;
}
.bw_icons_crudDefault_wrapper .is_loading {
  margin-top: 12px;
}
[class^="icon-nav-"] {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: text-top;
  margin-top: 6px;
  margin-left: 2px;
}
[class^="icon-nav-t-"] {
  margin-top: 1px;
  width: 16px;
  height: 16px;
  line-height: 20px;
  vertical-align: text-top;
  background: url("/images/bw_icons_small_20x20.png") no-repeat;
}
.app_header2_bar [class^="icon-nav-t-"] {
  float: left;
}
.icon-nav-t-machines,
.icon-nav-t-machine {
  background-position: 0px 0px;
}
.icon-nav-t-selected-machines {
  background-position: -40px 0px;
}
.icon-nav-t-installations,
.icon-nav-t-software,
.icon-nav-t-installation {
  background-position: 0px -20px;
}
.icon-nav-t-selected-installations {
  background-position: -40px -20px;
}
.icon-nav-t-applications,
.icon-nav-t-app_instances,
.icon-nav-t-used_by_applications,
.icon-nav-t-application,
.icon-nav-t-app_instance,
.icon-nav-t-used_by_application,
.icon-nav-t-deployed_applications {
  background-position: 0px -80px;
}
.icon-nav-t-selected-applications {
  background-position: -40px -80px;
}
.icon-nav-t-appnodes,
.icon-nav-t-appnode {
  background-position: 0px -60px;
}
.icon-nav-t-selected-appnodes {
  background-position: -40px -60px;
}
.icon-nav-t-appspaces,
.icon-nav-t-appspace {
  background-position: 0px -40px;
}
.icon-nav-t-selected-appspaces,
.icon-nav-t-selected-appspace {
  background-position: -40px -40px;
}
.icon-nav-t-libraries,
.icon-nav-t-lib_instances {
  background-position: 0px -100px;
}
.icon-nav-t-selected-libraries {
  background-position: -40px -100px;
}
.icon-nav-t-bwagents,
.icon-nav-t-bwagent {
  background: url('/images/bw_icons_small_20x20.png') -80px -100px no-repeat;
}
.icon-nav-t-selected-bwagents,
.icon-nav-t-selected-bwagent {
  background: url('/images/bw_icons_small_20x20.png') -120px -100px no-repeat;
}
/* action buttons */
[class^="icon_type-"] {
  float: left;
  width: 16px;
  height: 16px;
  background: url("/images/type_images/data_type_16x16.png") left top no-repeat;
  margin-top: 5px;
  margin-right: 5px;
}
.icon_type-string {
  background: url("/images/type_images/string_type_16x16.png") left top no-repeat;
}
.icon_type-int {
  background: url("/images/type_images/integer_type_16x16.png") left top no-repeat;
}
.icon_type-float {
  background: url("/images/type_images/float_type_16x16.png") left top no-repeat;
}
.icon_type-datetime {
  background: url("/images/type_images/time_type_16x16.png") left top no-repeat;
}
.icon_type-boolean {
  background: url("/images/type_images/boolean_type_16x16.png") left top no-repeat;
}
[class^="icon-graph-tab-"] {
  background: url("/images/bw_icons_small_20x20.png") no-repeat;
  display: inline-block;
  width: 8px;
  cursor: pointer;
  margin-top: 10px;
}
.icon-graph-tab-pre {
  background-position: -80px -379px;
  margin-right: 14px;
  margin-left: 10px;
}
.icon-graph-tab-next {
  background-position: -20px -379px;
}
.icon-graph-tab-pre.disable {
  background-position: -99px -379px;
}
.icon-graph-tab-next.disable {
  background-position: 0px -379px;
}
.icon-graph-tab-pre:not(.disable):hover {
  background-position: -60px -379px;
}
.icon-graph-tab-next:not(.disable):hover {
  background-position: -40px -379px;
}
.icon_graph_tab_hide {
  display: none;
}
.icon_graph_tab_show {
  display: block;
}
.bw_icons_crudDefault_wrapper {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 31px;
  height: 31px;
  outline: none;
}
.bw_icons_crudDefault_wrapper:hover {
  background: #cfe5f1;
}
.more_btn_true {
  background: #cfe5f1;
}
.bw_icons_hover_true {
  background: #cfe5f1;
}
.bw_icons_hover_false {
  background: #ffffff;
}
.bw_icons_s_moudle > li.clickable {
  cursor: pointer;
}
.bw_icons_s_moudle > li:hover i.icon-nav-t-applications,
.bw_icons_s_moudle > li:hover i.icon-nav-t-app_instances,
.bw_icons_s_moudle > li:hover i.icon-nav-t-used_by_applications,
.bw_icons_s_moudle > li:hover i.icon-nav-t-deployed_applications {
  background-position: -20px -80px;
}
.bw_icons_s_moudle > li.active i.icon-nav-t-applications,
.bw_icons_s_moudle > li.active i.icon-nav-t-app_instances,
.bw_icons_s_moudle > li.active i.icon-nav-t-used_by_applications,
.bw_icons_s_moudle > li.active i.icon-nav-t-deployed_applications {
  background-position: -40px -80px;
}
.bw_icons_s_moudle > li:hover i.icon-nav-t-libraries,
.bw_icons_s_moudle > li:hover i.icon-nav-t-lib_instances {
  background-position: -20px -100px;
}
.bw_icons_s_moudle > li.active i.icon-nav-t-libraries,
.bw_icons_s_moudle > li.active i.icon-nav-t-lib_instances {
  background-position: -40px -100px;
}
.bw_icons_s_moudle > li:hover i.icon-nav-t-appnodes {
  background-position: -20px -60px;
}
.bw_icons_s_moudle > li.active i.icon-nav-t-appnodes {
  background-position: -40px -60px;
}
.bw_icons_s_moudle > li:hover i.icon-nav-t-appspaces {
  background-position: -20px -40px;
}
.bw_icons_s_moudle > li.active i.icon-nav-t-appspaces {
  background-position: -40px -40px;
}
.bw_icons_s_moudle > li:hover i.icon-nav-t-machines {
  background-position: -20px 0;
}
.bw_icons_s_moudle > li:active i.icon-nav-t-machines {
  background-position: -40px 0;
}
.bw_icons_s_moudle > li.active i.icon-nav-t-machines {
  background-position: -40px 0;
}
.bw_icons_s_moudle > li:hover i.icon-nav-t-installations,
.bw_icons_s_moudle > li:hover i.icon-nav-t-software {
  background-position: -20px -20px;
}
.bw_icons_s_moudle > li:active i.icon-nav-t-installations,
.bw_icons_s_moudle > li:active i.icon-nav-t-software {
  background-position: -40px -20px;
}
.bw_icons_s_moudle > li.active i.icon-nav-t-installations,
.bw_icons_s_moudle > li.active i.icon-nav-t-software {
  background-position: -40px -20px;
}
/*bwagent icon*/
.bw_icons_s_moudle > li:hover i.icon-nav-t-bwagents {
  background: url('/images/bw_icons_small_20x20.png') -100px -100px no-repeat;
}
.bw_icons_s_moudle > li:active i.icon-nav-t-bwagents {
  background: url('/images/bw_icons_small_20x20.png') -120px -100px no-repeat;
}
.bw_icons_s_moudle > li.active i.icon-nav-t-bwagents {
  background: url('/images/bw_icons_small_20x20.png') -120px -100px no-repeat;
}
.app_header2_panel_badge {
  float: left;
  color: #5d5e5f;
  font-size: 11px;
  margin-left: 5px;
  line-height: 15px;
}
.bw_icons_s_moudle > li:hover .app_header2_panel_badge {
  color: #505050;
}
.bw_icons_s_moudle > li.active .app_header2_panel_badge {
  color: #267fad;
}
.tibco_folder {
  display: block;
  margin-left: 10px;
}
.tibco_folder-directory {
  width: 14px;
  height: 12px;
  background: url("/images/bw_icons_small_20x20.png") 0px -400px no-repeat;
}
.tibco_folder-file {
  width: 15px;
  height: 11px;
  background: url("/images/bw_icons_small_20x20.png") -20px -400px no-repeat;
}
.tibco_folder-inBreadCrumb {
  display: inline-block;
  width: 20px;
  height: 16px;
  background: url("/images/bw_icons_small_20x20.png") -60px -400px no-repeat;
  cursor: pointer;
  margin-right: 5px;
}
.tibco_folder-inBreadCrumb:hover {
  background: url("/images/bw_icons_small_20x20.png") -80px -400px no-repeat;
}
.tibco_folder_close-inBCdropdownTree {
  display: inline-block;
  width: 12px;
  height: 10px;
  background: url("/images/bw_icons_small_20x20.png") -60px -520px no-repeat;
  cursor: pointer;
}
.tibco_folder_open-inBCdropdownTree {
  display: inline-block;
  width: 14px;
  height: 12px;
  background: url("/images/bw_icons_small_20x20.png") -40px -520px no-repeat;
  cursor: pointer;
}
[class^="bw_config_input_icon_"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: text-top;
  background: url("/images/bw_icons_small_20x20.png") no-repeat;
}
.bw_config_input_icon_remove {
  background-position: -316px -677px;
}
.bw_config_input_icon_check {
  background-position: -317px -696px;
}
.bw_config_input_icon_info {
  background-position: -377px -677px;
  vertical-align: baseline;
  margin-left: 5px;
  position: relative;
}
.bw_config_input_icon_info:hover {
  cursor: pointer;
}
.bw-edit-icon-wrapper {
  position: absolute;
  right: -8px;
  border: 1px solid #C7C7C7;
  background: #FFF;
  border-top: none;
  z-index: 1003;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
.bw-edit-icon-wrapper.application {
  right: 19%;
}
.bw-edit-icon-wrapper.application-boolean {
  left: 60px;
  right: auto;
  top: -3px;
}
.bw-edit-icon-wrapper.application-datetime {
  left: 273px;
  right: auto;
  top: 28px;
}
/*.bw-edit-icon-wrapper.user_defined {
	right: 0px;
}*/
.bw-edit-icon-wrapper > div {
  display: inline-block;
  padding: 3px 7px;
}
.bw-edit-icon-wrapper > div:first-child {
  border-right: 1px solid #C7C7C7;
}
.bw-edit-icon-wrapper > div:last-child {
  padding: 3px 5px;
}
.bw-edit-icon-wrapper:hover {
  cursor: pointer;
}
.bw-edit-icon-wrapper > div:first-child:hover .bw_config_input_icon_remove {
  background-position: -336px -677px;
}
.bw-edit-icon-wrapper > div:last-child:hover .bw_config_input_icon_check {
  background-position: -337px -696px;
}
/*
 Because the bw_icons_s class change to this file, so move the position into this file.
*/
.bw_icons_s-slider-zoom-in {
  background-position: 2px -598px;
}
.bw_icons_s-slider-zoom-out {
  background-position: 2px -618px;
}
.bw_icons_s-process-info {
  width: 20px;
  height: 20px;
  background-position: 2px -638px;
}
.bw_icons_s-empty-diagram {
  width: 28px;
  height: 35px;
  background-position: -139px -598px;
  position: absolute;
  top: 25px;
  left: 150px;
  cursor: default;
}
.bw_icons_s-diagram-close {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  box-shadow: 1px 0 0px rgba(255, 255, 255, 0.25);
  background-position: 2px -658px;
}
.bw_process-eye-container {
  cursor: pointer;
  float: right;
  margin: 0px 10px;
}
.bw_icons_s-process-eye {
  width: 20px;
  height: 20px;
  background-position: 2px -574px;
}
.bw_icons_s-process-eye:hover {
  background-position: -18px -574px;
}
.bw_icons_s-slider-zoom-in:hover {
  background-position: -18px -598px;
}
.bw_icons_s-slider-zoom-out:hover {
  background-position: -18px -618px;
}
.bw_icons_s-process-info:hover {
  background-position: -18px -638px;
}
.bw_icons_s-process-info.active {
  background-position: -38px -638px;
}
.bw_icons_s-slider-zoom-in.active {
  background-position: -38px -598px;
}
.bw_icons_s-slider-zoom-out.active {
  background-position: -38px -618px;
}
.bw_icons_s-process-package-folder-icon,
.bw_icons_s-process-item {
  height: 20px;
  width: 20px;
}
.bw_navigation_leaf_topLabel > i.bw_icons_s-process-package-folder-icon {
  margin-top: -8px;
  margin-left: 12px;
}
.level_0 .bw_icons_s-process-package-folder-icon {
  background-position: -78px -598px;
}
.level_1 .bw_icons_s-process-package-folder-icon {
  background-position: -78px -618px;
}
.bw_icons_s-process-item {
  width: 22px;
  background-position: -78px -638px;
}
.level_0 .bw_navigation_leaf_topLabel:hover .bw_icons_s-process-package-folder-icon {
  background-position: -98px -598px;
}
.level_1 .bw_navigation_leaf_topLabel:hover .bw_icons_s-process-package-folder-icon {
  background-position: -98px -618px;
}
.level_0 .bw_navigation_leaf_topLabel:hover span,
.level_1 .bw_navigation_leaf_topLabel:hover span {
  color: #ffffff;
}
.bw_navigation_treeLevel_2:hover i.bw_icons_s-process-item {
  background-position: -78px -658px;
}
.bw_navigation_treeLevel_2:hover:not(.active) {
  color: #ffffff;
}
.bw_navigation_leaves_loop.active i.bw_icons_s-process-item {
  background-position: -78px -678px;
}
.bw_navigation_leaves_loop.active .bw_navigation_treeLevel_2:hover {
  color: #1781ba;
}
.bw_navigation_leaves_loop.active {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 82%, #f9f9f9 91%, #eaeaea 97%, #dbdbdb 100%);
  color: #1781ba;
}
/**
*   left navigation button icon
*/
i.icon-tibco_nav {
  background-image: url('/images/bw_icons_large_40x40.png');
  height: 30px;
  width: 30px;
  display: block;
  margin: 0px auto;
}
#resources i.icon-tibco_nav {
  width: 25px;
  height: 26px;
}
i.domain {
  width: 35px;
  background-position: 0px -198px;
}
.navLeft li:hover i.domain {
  background-position: -40px -198px;
}
li.active i.domain,
li.active:hover i.domain {
  background-position: -80px -198px;
}
i.apparchives {
  background-position: 0px -280px;
}
.navLeft li:hover i.apparchives {
  background-position: -40px -280px;
}
li.active i.apparchives,
li.active:hover i.apparchives {
  background-position: -80px -280px;
}
i.appspaces {
  width: 36px;
  background-position: 0px -80px;
}
.navLeft li:hover i.appspaces {
  background-position: -40px -80px;
}
li.active i.appspaces,
li.active:hover i.appspaces {
  background-position: -80px -80px;
}
i.applications {
  background-position: 0px -159px;
}
.navLeft li:hover i.applications {
  background-position: -40px -159px;
}
li.active i.applications,
li.active:hover i.applications {
  background-position: -80px -159px;
}
i.libraries {
  background-position: 0px -200px;
}
.navLeft li:hover i.libraries {
  background-position: -40px -200px;
}
li.active i.libraries,
li.active:hover i.libraries {
  background-position: -80px -200px;
}
i.appnodes {
  background-position: 0px -120px;
}
.navLeft li:hover i.appnodes {
  background-position: -40px -120px;
}
li.active i.appnodes,
li.active:hover i.appnodes {
  background-position: -80px -120px;
}
i.resources {
  background-position: -160px -280px;
}
.navLeft li:hover i.resources {
  background-position: -200px -280px;
}
li.active i.resources,
li.active:hover i.resources {
  background-position: -240px -280px;
}
i.bwagents {
  background-position: 0px -240px;
}
.navLeft li:hover > a i.bwagents {
  background-position: -40px -240px;
}
li.active > a i.bwagents,
li.active:hover > a i.bwagents {
  background-position: -80px -240px;
}
i.machines {
  background-position: 0px 0px;
}
.navLeft li:hover > a i.machines {
  background-position: -40px 0px;
}
li.active > a i.machines,
li.active:hover > a i.machines {
  background-position: -80px 0px;
}
i.installations {
  background-position: 0px -40px;
}
.navLeft li:hover > a i.installations {
  background-position: -40px -40px;
}
li.active > a i.installations,
li.active:hover > a i.installations {
  background-position: -80px -40px;
}
.cell_bookmark_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("/images/bw_icons_small_20x20.png") -80px -40px no-repeat;
  margin-right: 8px;
  margin-left: 10px;
}
.bw-message-icon i {
  width: 20px;
  height: 20px;
  background: url("/images/bw_icons_small_20x20.png") no-repeat;
  vertical-align: bottom;
}
.bw-message-icon.success i {
  background-position: -356px -495px;
}
.bw-message-icon.error i {
  background-position: -317px -497px;
}
.bw-message-icon.restart i {
  background-position: -398px -498px;
}
/**
 *  bw CRUD icons
 *  organized by:   Joseph
 *  organized time: 2014/03/20 13:59
 **/
[class^="bw_icon_crud_wrapper-"] {
  cursor: pointer;
  float: left;
}
[class^="bw_icon_crud_wrapper-"] > span {
  float: left;
  font-size: 14px;
  margin-left: 6px;
  color: #5d5e5e;
  line-height: 15px;
  vertical-align: text-top;
}
[class^="bw_icon_crud_wrapper-"]:hover > span {
  color: #267fad;
}
[class^="bw_icon_crud-"] {
  float: left;
  margin-top: 1px;
  width: 15px;
  height: 15px;
  background: url("/images/bw_icons_small_20x20.png") no-repeat;
  cursor: pointer;
}
.bw_icon_crud-create {
  background-position: -320px -340px;
}
.bw_icon_crud_wrapper-create:hover .bw_icon_crud-create,
.bw_icon_crud_wrapper-create-config:hover .bw_icon_crud-create,
.bw_icon_crud-create .active {
  background-position: -340px -340px;
}
.bw_icon_crud_wrapper-create-config {
  margin-right: 15px;
}
.bw_icon_crud-upload {
  background-position: -320px -380px;
}
.bw_icon_crud_wrapper-upload:hover .bw_icon_crud-upload,
.bw_icon_crud-upload.active {
  background-position: -340px -380px;
}
.bw_icon_crud-update {
  background-position: -399px -339px;
}
.bw_icon_crud_wrapper-update:hover .bw_icon_crud-update,
.bw_icon_crud-update.active {
  background-position: -419px -339px;
}
.bw_icon_crud-config {
  background-position: -340px -220px;
}
.bw_icon_crud_wrapper-config:hover .bw_icon_crud-config,
.bw_icon_crud-config.active {
  background-position: -320px -220px;
}
.bw_icon_crud_wrapper-config {
  margin-left: 15px;
}
.bw_crud_lv1_header .bw_icon_crud_wrapper-create,
.bw_icon_crud_wrapper-upload {
  margin-right: 20px;
}
.bw_crud_lv1_header .bw_icon_crud_wrapper-delete {
  margin-left: 0;
}
.app_header_archive_actions .bw_icon_crud_wrapper-delete {
  margin-left: 0;
}
.bw_icon_crud_wrapper-delete {
  margin-left: 20px;
}
.bw_icon_crud_wrapper-start-stop {
  margin-left: 20px;
}
.bwagents .bw_icon_crud_wrapper-delete {
  margin-left: 0px;
}
.bw_icon_crud-delete {
  background-position: -320px -360px;
}
.bw_icon_crud_wrapper-delete:hover .bw_icon_crud-delete,
.bw_icon_crud-delete.active {
  background-position: -340px -360px;
}
/*.bw_icon_crud_wrapper-delete.crudDisabled {
  pointer-events: none;
}*/
.bw_icon_crud_wrapper-delete.crudDisabled:hover .bw_icon_crud-delete {
  background-position: -320px -360px;
  cursor: default;
}
.bw_icon_crud_wrapper-delete.crudDisabled:hover > span {
  color: #5d5e5e;
}
.bw_icon_crud-default {
  background-position: -420px -380px;
  margin-top: 7.5px;
  margin-left: 9px;
}
.bw_icon_crud-deploy {
  background-position: -400px -358px;
}
.bw_icon_crud_wrapper-deploy:hover .bw_icon_crud-deploy,
.bw_icon_crud-deploy.active {
  background-position: -420px -358px;
}
.bw_icon_crud_wrapper-deploy-config:hover .bw_icon_crud-deploy {
  background-position: -420px -358px;
}
.bw_icon_crud-undploy {
  background-position: -317px -398px;
}
.bw_icon_crud_wrapper-undploy:hover .bw_icon_crud-undploy,
.bw_icon_crud-undploy.active {
  background-position: -337px -398px;
}
.bw_icon_crud_wrapper-undploy.crudDisabled:hover .bw_icon_crud-undploy {
  background-position: -317px -398px;
  cursor: default;
}
.bw_icon_crud_wrapper-undploy.crudDisabled:hover > span {
  color: #5d5e5e;
}
.bw_icon_crud_wrapper-publish_label {
  margin-top: 2px;
  cursor: default;
}
.bw_icon_crud_wrapper-publish_btn {
  font-size: 18px;
  color: #5d5e5e;
  cursor: pointer;
}
.bw_icon_crud_wrapper-publish_btn:hover {
  color: deepskyblue ;
}
.bw_icon_crud-download {
  background-position: -460px -340px;
  margin-left: 15px;
}
.bw_icon_crud_wrapper-download:hover .bw_icon_crud-download,
.bw_icon_crud-download.active {
  background-position: -480px -340px;
}
.bw_icon_crud_wrapper-download-config:hover .bw_icon_crud-download {
  background-position: -480px -340px;
}
.bw_icon_crud-remove {
  background: url("/images/bw_icons_small_20x20.png") -316px -516px no-repeat;
  left: 10px;
}
.bw_icon_crud-remove:hover {
  background: url("/images/bw_icons_small_20x20.png") -336px -516px no-repeat;
}
.bw_icon_crud-edit {
  background: url("/images/bw_icons_small_20x20.png") -316px -536px no-repeat;
  left: 30px;
}
.bw_icon_crud_wrapper-edit:hover .bw_icon_crud-edit,
.bw_icon_crud-edit.active {
  background-position: -336px -536px;
}
.bw_icon_crud-edit-config {
  background-position: -318px -719px;
  left: 30px;
}
.bw_icon_crud_wrapper-edit-config:hover .bw_icon_crud-edit-config {
  background-position: -338px -719px;
  left: 30px;
}
.bw_icon_crud-cancel-config {
  background-position: -318px -739px;
  left: 30px;
}
.bw_icon_crud_wrapper-cancel-config:hover .bw_icon_crud-cancel-config {
  background-position: -338px -739px;
  left: 30px;
}
.bw_icon_crud_wrapper-submit-config {
  margin-left: 15px;
}
.bw_icon_crud-submit-config {
  background-position: -318px -759px;
  left: 30px;
}
.bw_icon_crud_wrapper-submit-config:hover .bw_icon_crud-submit-config {
  background-position: -338px -759px;
  left: 30px;
}
.bw_lv2_header_crud .bw_icon_crud-delete {
  margin-left: 15px;
}
.crudDisabled {
  opacity: 0.2;
  pointer-events: none;
  /* disable the element's any event */
}
[class^="icon-level2-"] {
  cursor: pointer;
  display: inline-block;
  width: 13px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/images/bw_icons_small_20x20.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-level2-chevron-up {
  background-position: -340px -177px;
}
.icon-level2-chevron-down {
  background-position: -340px -155px;
  line-height: 13px;
}
.icon-level2-chevron-up-first {
  cursor: default;
  background-position: -320px -177px;
}
.icon-level2-chevron-down-last {
  cursor: default;
  background-position: -320px -155px;
  line-height: 13px;
}
/*# sourceMappingURL=icons.css.map */