.main-div {
    height: 759px;width: 100%;
}
.header{
    height:10%;
}
.content{
    height: 90%;
}
.left-navbar {
    background-color: #777;
}
.display-content{
    height: 100%;
}
.column-margin {
    margin-top: 20px;
}
.app-level2-status-btn-margin {
    margin-top: 5px;
}
.application-column-margin-level2 {
    margin-top: 50px;
}
.line-seprator {
    border-bottom: 1px solid rgb(205, 205, 204);
    padding-bottom: 20px;
}
.instrumentation-column1 {
    border:1px solid #a9a9a9;
    height:320px;
    border-radius: 4px;
    margin-top:10px
}
.instrumentation-column2 {
    border-right:1px solid #a9a9a9;
    height:320px;
    // overflow: auto;
}
.instrumentation-column2-margin{
    margin:10px 0 15px 0;
}
.config-column1 {
    // border:1px solid #a9a9a9;
    height:380px;
    border-radius: 4px;
    margin-top:10px;
}
.config-column2 {
    // border-right:1px solid #a9a9a9;
    height:384px;
    background: #ebebeb;
    // overflow: auto;
}
.config-table .grid_lv1{
    height:310px;
    overflow: auto;
}
.config-column2-toggle {
    height:384px;
    background: #ebebeb;
    width: 1%;
}
.config-table-toggle {
    width: 99%;
}
.config-table-toggle .grid_lv1{
    height:310px;
    overflow: auto;
}
.process-history-row-margin {
    margin-top:10px;
}