.app_header2_bar {
	padding-bottom: 15px;
}

.app_header2_bar > ul:last-child {
	margin-top: 10px;
}

.app_header2_topName {
	margin-top: 2px;
	line-height: 23px;
	font-size: 20px;
	font-weight: normal;
	color: #267fad;
	vertical-align: middle;
	cursor: pointer;
}


.app_header2_panel_bar_title_false {
	margin-left: 0px;
}

.app_header2_buttonList {
	margin-left: 15px;
}

.app_header2_panel {
	padding-top: 10px;
	border-top: 1px solid #cdcdcc;
}


.app_header2_bar_statusLabel .white_gap_table {
	display: none;
}

.app_header2_panel_bar_numStatus {
	margin-top: 4px;
	display: inline-block;
}

.app_header2_panel_bar_numStatus li {
	display: inline-block;
	margin-left: 13px;
}

.app_header2_panel_bar_numStatus li:first-child {
	margin-left: 0px;
}

.app_header2_panel_bar_numStatus li span {
	font-weight: normal;
	margin-left: 2px;
}

.app_header2_iconNavList {
	float: right;
}

.app_header2_iconNavList > li {
	float: left;
	margin-left: 25px;
}

/*
.app_header2_bar_title-left {
	float: left;
	list-style: none;
	margin-top: 5px;
	margin-right: 15px;
}

.app_header2_bar_title-left>li {
	float: left;
}

.app_header2_bar_title_detail {
	margin-right: 8px;
	font-size: 18px;
	font-weight: normal;
	color: #2380a9;
	vertical-align: middle;
}
*/
.app_subTab_process_graph_processInfo{
  position: relative;
  margin-left: 1px;
  padding-top: 0px;
  height: 200px;
  // overflow-y: auto;
  font-size: 12px;
  line-height: 12px;
  word-wrap: break-word;
  width:100%;
  .app_subTab_process_graph_processInfo_first_column{
	position: absolute;
	top: 0;
	left: 0px;
	width: 30%;
	min-width: 300px;
  }
  .app_subTab_process_graph_processInfo_second_column{
	position: absolute;
	top: 0;
	left: 31%;
	width: 35%;
	min-width: 300px;
  }
  .app_subTab_process_graph_processInfo_third_column{
	position: absolute;
	top: 0;
	left: 67%;
	width: 35%;
	min-width: 300px;
  }
  .app_subTab_process_graph_processInfo_first_column,
  .app_subTab_process_graph_processInfo_second_column,
  .app_subTab_process_graph_processInfo_third_column{
	span{
	  width:100%;
	  height:20px;
	  line-height: 20px;
	  border-bottom: 1px solid #cccccc;
	}
	> div{
	  height:auto;
	  width:100%;
	  min-height: 150px;
	}
  }
  .group{
	margin-left: 10px;
	margin-top:5px;
	height:30px;
	line-height: 18px;
	border-bottom: 1px solid #dbdbdb;
	>div{
	  float: left;
	  margin-top: 5px;
	}
	.title{
	  width:40%;
	  min-width: 80px;
	}
	.value{
	  width:60%;
	  min-width: 150px;
	}
  }
}
[class^="app_subTab_process_graph_processInfo_group_title-"] {
  /* title of each item  */
  font-weight: bold;
  display: inline-block;
  width: 122px;
}
.app_header2_panel_detail {
	position: relative;
	margin-left: 1px;
	padding-top: 0px;
	padding-right: 20px;
	height: 115px;
	overflow-y: auto;
	font-size: 12px;
	line-height: 12px;
	word-wrap: break-word;
}

.app_header2_panel_detail_item,
.app_header2_panel_detail_item > div {
	line-height: 18px;
	height: 18px;
}

[class^="app_header2_panel_detail_title-"] {
	/* title of each item  */
	font-weight: bold;
	display: inline-block;
	width: 122px;
}
[class^="app_header2_panel_three_column_group_detail_title-"] {
  /* title of each item  */
  display: inline-block;
  width: 122px;
}


.app_header2_panel_description {
	/* for description item to make it show in two lines */
	display: inline-block;
	line-height: 20px;
}
.app_header2_panel_doc_url{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 320px;
  white-space: nowrap;
}
.app_header2_panel_detail_jobs {
	/* for "jobs" item */
	display: inline-block;
}
.app_header2_panel_detail_jobs_group{
  /* for "jobs" item */
  display: inline-table;
}

.app_header2_panel_detail_jobs > li {
	float: left;
	margin-left: 13px;
}
.app_header2_panel_detail_jobs > li:first-child {
	margin-left: 0px;
}

.app_header2_panel_detail_jobs > li span {
	font-weight: normal;
	margin-left: 2px;
}

.app_header2_panel_detail_first_column {
	position: absolute;
	top: 0;
	left: 0px;
	width: 400px;
}

.app_header2_panel_detail_second_column {
  position: absolute;
  top: 0;
  left: 400px;
  max-width: 570px;
  min-width: 400px;
}

.app_header2_panel_detail_three_column {
  position: absolute;
  right: 0;
  width: 300px;
}

.app_header2_panel_detail_first_column > div {
	margin-top: 5px;
}

.app_header2_panel_detail_second_column > div{
	margin-top: 6px;
}
.app_header2_panel_detail_three_column > div{
  	margin-top: 6px;
}
.app_header2_panel_detail_three_column_group_child{
  margin-top: 6px;
}
.app_header2_panel_detail_first_column > div:first-child,
.app_header2_panel_detail_second_column > div:first-child,
.app_header2_panel_detail_three_column_group_child > div:first-child{
	margin-top: 0px;
}

.app_header2_panel_detail_first_column > div a,
.app_header2_panel_detail_second_column > div a,
.app_header2_panel_detail_three_column_group_child > div a{
	color: #3b3b3b;
	text-decoration: underline;
}
.app_header2_panel_detail_first_column > div a:hover,
.app_header2_panel_detail_second_column > div a:hover,
.app_header2_panel_detail_three_column_group_child > div a:hover{
	color: #267fad;
}

.apparchives .app_header2_panel_detail .title_1of2 {
	width: 75px;
}

.apparchives .app_header2_panel_detail .title_2of2 {
	width: 88px;
}

.appspaces .app_header2_panel_detail .title_1of2 {
	width: 122px;
}

.appspaces .app_header2_panel_detail .title_2of2 {
	width: 72px;
}

.applications .app_header2_panel_detail .title_1of2 {
	width: 98px;
}

.applications .app_header2_panel_detail .title_2of2 {
	width: 150px;
}

.appnodes .app_header2_panel_detail .title_1of2 {
	width: 88px;
}

.appnodes .app_header2_panel_detail .title_2of2 {
	width: 150px;
}

.bwagents .app_header2_panel_detail .title_1of2 {
	width: 88px;
}

.bwagents .app_header2_panel_detail .title_2of2 {
	width: 104px;
}

.installations .app_header2_panel_detail .title_1of2 {
	width: 68px;
}

.app_header2_panel_detail_content .app_header2_panel_description span {
	/* for "view more" */
	cursor: pointer;
}

.app_header2_panel_detail_content .app_header2_panel_description span:hover {
	text-decoration: underline;
	color: #3483B5;
}

.app_header2_panel_detail_content .app_header2_panel_description_button_true {
	/* "view more" btn */
	display: inline-block;
}

.app_header2_panel_detail_content .app_header2_panel_description_button_false {
	display: none;
}

.app_header2_panel_detail_content .app_header2_panel_description_hide {
	height: 40px;
	text-overflow: clip;
}

.detail_panel_gradient {
	display: none;
	position: absolute;
	left: 0;
	height: 20px;
	width: 100%;
	z-index: 1;
}

.detail_panel_top_gradient {
	top: 20px;
	background: url("/images/top_gradient_tile.png");
}

.detail_panel_bottom_gradient {
	bottom: 20px;
	/*background: url("../img/bottom_gradient_tile.png");*/
}


/*  Overview Panel action Buttons */
.app_header2_buttonList {
	margin-left: 15px;
}

.app_header2_buttonList .action_btn_list li {
	margin-right: 3px;
}

.app_header2_buttonList .disable:hover {
	cursor: default;
}


/*  Overview Panel action Buttons */
.app_header2_buttonList {
	margin-left: 15px;
}

.app_header2_buttonList .action_btn_list li {
	margin-right: 3px;
}

.app_header2_buttonList .disable:hover {
	cursor: default;
}

.switch_btn,.debug_disable,.stats_btu_disable {
    font-size:12px;
}

.switch_off,.stats_btu_disable {
    padding-left:3px;
    padding-right:5px;
    cursor: pointer;
}

.switch_on,.stats_btu_able {
    display: inline-block;
    height: 11px;
    padding-right:6px;
    border-right:1px #a5a5a5 solid;
    cursor: pointer;
}

.debug-state,.stats_btn_status {
    color: #267fad;
    font-weight:bold;
  	cursor: default;
}

.disable_on {
    display: inline-block;
    height: 11px;
    padding-right:6px;
    border-right:1px #a5a5a5 solid;
}

.disable_off {
    padding-left:3px;
    padding-right:5px;
}

.debug_port{
    color:#606060;
    font-size:11px;
}

.app_header2_panel_detail_title{
  cursor:pointer;
  text-decoration: underline;
  padding-left: 6px;
}

.app_header2_panel_detail_title:hover{
  color: #08c;
}

/*bwagents*/

.bwagents_wrapper{
	padding-bottom: 20px;
	padding-top: 107px;
	.bwagents_inner {
		position: relative;
		margin: 30px 42px auto 42px;
		.bwagents_title {
			color: #267fad;
			font-weight: normal;
			margin: 0px;
			font-size: 24px;
			line-height: 24px;
		}
		.bwagents_agentList {
			margin-top: 25px;
			margin-left: -22px;
			.bwagents_agentItem {
				float: left;
				margin-left: 22px;
				width: 300px;
				height: 240px;
				border: 1px solid #cccfd5;
				border-radius: 5px;
				box-shadow: 0 1px 4px rgba(0, 0, 0, .08);
				background-color: #ffffff;
				color: #4d4d4d;
				margin-bottom: 15px;
				padding-bottom: 18px;
				cursor: pointer;
				position: relative;
				.bwagents_card_header{
					color: #4d4d4d;
					height:60px;
					line-height: 24px;
					padding: 20px 20px 15px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					position: relative;
					font-size: 16px;
					.bwagents_agentItem_title {
						font-size: 18px;
						line-height: 25px;
						color: #4d4d4d;
						margin-top: 5px;
						margin-left: 18px;
						padding-bottom: 5px;
						font-weight: normal;
						width: 210px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						overflow: hidden;
					}
				}
				.bwagents_card_body{
					position: relative;
					padding: 0 20px 10px;
					height:170px;
					.bwagents_agentItem_title {
						font-size: 16px;
						line-height: 25px;
						color: #000;
						margin-top: 5px;
						margin-left: 18px;
						padding-bottom: 5px;
						font-weight: normal;
						width: 210px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						overflow: hidden;
					}
				}
			}
		}
	}

}
