<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-zero">
        <div class="appnodes content_level1">
            <div class="app_header1">
                <ul class="app_header_nav clearfix">
                    <li class="app_header_title">
                        <span>Applications ({{filterData.length}}) </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-zero">
        <div class="switcher pull-right">
            <switcher></switcher>
        </div>
        <div class="refresh pull-right">
            <refresh></refresh>
        </div>
    </div>
</div>