<div ui-view="default">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 default_padding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-zero">
                        <div class="appnodes content_level1">
                            <div class="app_header1">
                                <ul class="app_header_nav clearfix">
                                    <li class="app_header_title">
                                        <span ng-cloak >{{::$ctrl.monLabels.appnode.appnodes_title}} ({{$ctrl.filterDataLength}}) </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-zero">
                            <div class="switcher pull-right">
                                <switcher></switcher>
                            </div>
                            <div class="refresh pull-right">
                                <refresh></refresh>
                            </div>
                    </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero column-margin">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-zero">
                <ul class="bw_crud_lv1_header">
                            <li class="create_button">
                                <div class="bw_icon_crud_wrapper-create"
                                    title="Import Appnode">
                                    <i class="bw_icon_crud-create"></i>
                                    <span ng-click="$ctrl.addAppNode('md')">{{::$ctrl.monLabels.appnode.add_appnode}}</span>
                                </div>
                                <div class="bw_icon_crud_wrapper-delete" ng-class="{crudDisabled: !$ctrl.dataToBeRemoved.length > 0}" ng-click="$ctrl.deleteAppNodes()"
                                    title="delete">
                                    <i class="bw_icon_crud-delete"></i>
                                    <span ng-click="$ctrl.deleteNode('md')">{{::$ctrl.monLabels.appnode.remove_appnode}}</span>
                                </div>
                            </li>
                </ul>
            </div>
            <grid grid-header="$ctrl.appNodesGridHeader" route-state-object ="$ctrl.routeStateObject" grid-data-map="$ctrl.appNodesDataMap" filter-data-length="$ctrl.filterDataLength" grid-data-to-be-removed="$ctrl.dataToBeRemoved"></grid>
        </div>
    </div>
</div>